$font-size-base: 1rem;

$font-size-h1: 2.2rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.1rem;
$font-size-h6: 1rem;

$line-height-base: 1.5;
$headings-margin-bottom: 1rem;
$spacer: 1rem;
$border-width: 1px;
$grid-gutter-width-base: 30px;
$grid-gutter-width-half: ($grid-gutter-width-base/2);

$header-height-xs: 50px;
$header-height-md: 80px;
$header-height-lg: 100px;

$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;

$spinner-width: 40px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
