@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Maitree:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

$sans-serif: 'Roboto';
$serif: 'Maitree';
$monospace: 'Roboto Mono';

$serif-light: 300;
$serif-normal: 400;
$serif-semi-bold: 600;
$serif-bold: 700;

$sans-serif-light: 300;
$sans-serif-normal: 400;
$sans-serif-semi-bold: 500;
$sans-serif-bold: 700;

$monospace-light: 300;
$monospace-normal: 400;
$monospace-semi-bold: 500;
$monospace-bold: 700;
