@import "variables/fonts";
@import "variables/admin_variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "variables/dimensions";

html {
  font-size: $font-size-base;
  @include media-breakpoint-up(lg) {
    $font-size-base: 1.125rem;
    font-size: $font-size-base;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-serif;
  font-weight: 400;
}
h1 {
  font-size: 2.75em;
  font-size: 1rem;
  @include media-breakpoint-up(md) {
    font-size: 3.3em;
  }
  // @include media-breakpoint-up(lg) {
  //   font-size: 4em;
  // }
}
h2 {
  font-size: 2.4em;
  @include media-breakpoint-up(md) {
    font-size: 2.8em;
  }
}
h3 {
  font-size: 2rem;
}
img {
  display: block;
  width: 100%;
}
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  .admin-bar & {
    min-height: calc(100vh - (#{$admin-bar-mobile-height}));
    @media (min-width: 783px) {
      min-height: calc(100vh - (#{$admin-bar-height}));
    }
  }
}
.page-wrapper {
  flex: 1 1 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.container {
  max-width: 100%;
}
.page-section {
  margin-top: 40px;
  margin-bottom: 40px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  @include media-breakpoint-up(md) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .section-header {
    margin-bottom: 30px;
  }
}
.container {
  &.fluid-max {
    width: 100% !important;
    max-width: map-get($container-max-widths, xl) !important;
    margin-left: auto;
    margin-right: auto;
  }
}
.tab-content {
  position: relative;
  > .tab-pane {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    &.active {
      position: relative;
      z-index: 1;
      visibility: visible;
    }
  }
}

// Should be in MapInfo
.info-transition-wrap {
  width: 100%;
  height: 100%;
}
.info-wrap {
  padding: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  .info-header {
    margin-bottom: 10px;
    h2 {
      font-size: 2.2em;
    }
  }
  .links {
    margin-bottom: 1rem;
    p {
      display: inline-block;
      margin-bottom: 0;
    }
  }
  .title {
    text-transform: uppercase;
    font-family: $font-family-serif;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
}

.route-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  > .loader {
    position: absolute;
    z-index: 10;
  }
}
.page-body-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 1 1 100%;
}

.btn, a {
  &:focus {
    box-shadow: none !important;
  }
}

@import "components/galleries";
@import "components/tinymce";
