// $brand-primary: #FFB000;
// $brand-inverse: #151312;
// $brand-success: #00833f;
// $brand-info: #6B6969;
// $brand-warning: #ea7200;
// $brand-danger: #ac1f2d;
$enabled-flex: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$font-size-base: 1rem;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Maitree",serif;
$font-family-monospace: "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
// $nav-tabs-border-color: $brand-primary;
// $nav-tabs-active-link-hover-border-color: $brand-primary;
// $nav-tabs-justified-link-border-color: $brand-primary;
$nav-tabs-border-width: 0px;
// $body-color: #555;
// $link-hover-color: darken($brand-primary, 5%);
