@import '../../../styles/variables/admin_variables';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/bootstrap';

.archive-list-wrap {
  padding-top: $grid-gutter-width-base;
  padding-bottom: $grid-gutter-width-base;
  position: relative;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

}
.postsList {
  @extend .btn;
  @extend .btn-link;
  margin-bottom: 1rem;
  display: block;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  &:last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}
.post-item-title {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  white-space: pre-wrap;
  word-break: break-word;
}

.ajax-posts-btn-wrap {
  text-align: center;
  padding: 10px 0;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
:global {
  .ajax-posts-btn-wrap {
    &.loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      padding: 0;
    }
  }
}
.ajax-posts-btn {
  @extend .btn;
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  display: inline-block;
  cursor: pointer;
}
